@use './index' as *;
.playlistWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  // height: 200px;
  width: 350px;
  margin: 0 auto;
  // overflow: scroll;
  border: 1px solid $primary;
  border-radius: 5px;
  ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    li {
      padding: 20px 10px;
      color: clr(white);
      cursor: pointer;
    }
    li:not(:last-child) {
      border-bottom: 1px solid $primary;
    }
  }
  .active {
    color: clr(primary, light);
  }
}
