@use './index' as *;

.songInfo {
  color: $black;
  padding-right: 10px;
  position: absolute;
  top: -20px;
  width: 100%;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /* Apply animation to this element */
  -moz-animation: songInfoMarquee 20s linear infinite;
  -webkit-animation: songInfoMarquee 20s linear infinite;
  animation: songInfoMarquee 20s linear infinite;
  @-moz-keyframes songInfoMarquee {
    0% {
      -moz-transform: translateX(-25%);
    }
    100% {
      -moz-transform: translateX(100%);
    }
  }
  @-webkit-keyframes songInfoMarquee {
    0% {
      -webkit-transform: translateX(-25%);
    }
    100% {
      -webkit-transform: translateX(100%);
    }
  }
  @keyframes songInfoMarquee {
    0% {
      -moz-transform: translateX(-25%); /* Firefox bug fix */
      -webkit-transform: translateX(-25%); /* Firefox bug fix */
      transform: translateX(-25%);
    }
    100% {
      -moz-transform: translateX(100%); /* Firefox bug fix */
      -webkit-transform: translateX(100%); /* Firefox bug fix */
      transform: translateX(100%);
    }
  }
}

.songInfoDisabled {
  display: none;
}

.audioPlayer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: $black;
  // overflow: hidden;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .audioController {
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
    @media screen and (max-width: 500px) {
      margin: 0;
      padding: 0;
      order: 1;
    }
    .playPauseButton {
      padding-bottom: 0px;
      font-size: 2.5rem;
    }
    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: $primary;
    }
  }

  .progressBarAndTime {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 500px) {
      padding-bottom: 20px;
    }
    .currentTime,
    .totalTime {
      position: relative;
      display: block;
      color: $white;
      font-family: sans-serif;
    }
    .currentTime {
      margin-right: 10px;
    }
    .totalTime {
      margin-left: 10px;
    }

    .progressBar {
      --progressWidth: 0;
      --progressBarHeight: 10px;

      appearance: none;
      width: 100%;
      position: relative;
      background: $secondary;
      border-radius: 10px;
      height: var(--progressBarHeight);
      outline: none;
      z-index: 0;

      &::before {
        content: '';
        height: var(--progressBarHeight);
        background-color: $primary;
        width: var(--progressWidth);
        border-radius: 10px 0 0 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: clr(primary, light);
        border-radius: 50%;
        position: relative;
        z-index: 3;
        cursor: pointer;

        &:active {
          transform: scale(1.2);
          background-color: clr(primary, dark);
        }
      }
    }
  }
}
