@use './index' as *;

.nav {
  padding: 0 20px;
  color: $white;
  background-color: $black;
  * {
    color: $white;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: inline;
      margin: 0 10px;
    }
    a {
      &:hover {
        color: clr(primary, light);
      }
    }
  }
}
