@use './index' as *;
.playlistWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: clr(black, light);
  height: auto;
  width: 350px;
  padding: 10px;
  margin: 0 auto;
  ul {
    list-style-type: none;
    padding: 0 5px;
    border: 1px solid $primary;
    li {
      padding: 10px 0px;
      color: clr(white);
    }
    li:not(:last-child) {
      border-bottom: 1px solid $primary;
    }
  }
}
